<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>about</title>
</head>

<body>
    <div class="main-content">
         {{>header}}
         <p>This site is cretated by Taewhan Yoo. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="/img/robot.png">
        <p>the first robot I made</p>
    </div>

    {{>footer}}
</body>


</html>