<!DOCTYPE html>

<html>

<head>
    <title>help</title>

</head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
<body>
    <div class="main-content">
        {{>header}}
        <p>this is a useful content to help you!</p>
    </div>

    {{>footer}}
</body>


</html>